html {
  .block-code-output{
    max-height: 10rem;
    overflow-y: auto;
  }

  .lock-input{
    opacity: 0;
  }

  .block {

    .block-tools{
      position: absolute;
      top: .75rem;
      right: 5.25rem;
    }

    overflow-y: auto;

    .block-output {
      overflow-y: hidden;
    }

    pre {
      border-radius: 0;
    }

    &:hover{
      .lock-input{
        opacity: 1;
      }
    }

    .block-output-toggle {
      color: var(--bs-gray);
      position: absolute;
      top: .75rem;
      right: .5rem;
      &:hover {
        color: var(--bs-success);
      }
    }

    .block-code-toggle {
      color: var(--bs-gray);
      position: absolute;
      top: .75rem;
      right: 2rem;
      &:hover {
        color: var(--bs-info);
      }
    }

    .block-download {
      color: var(--bs-gray);
      position: absolute;
      top: .75rem;
      right: 3.75rem;
      &:hover {
        color: var(--bs-warning);
      }
    }

    .block-remove {
      color: var(--bs-gray);
      &:hover {
        color: var(--bs-danger);
      }
    }

    .block-feedback {
      font-size: .8rem;
    }

    .block-remove,
    .block-output-toggle,
    .block-edit-toggle,
    .block-download,
    .block-code-toggle {
      opacity: 0;
    }

    &:hover{
      .block-remove,
      .block-download,
      .block-output-toggle,
      .block-edit-toggle,
      .block-code-toggle {
        opacity: 1;
      }
    }
  }
}

