html{
  .mutate-expression {
    .shiny-ace {
      border: none;
      margin: 1rem;
    }

    .mutate-column {
      width: 15%;
    }

    .mutate-code {
      width: 62%;
    }

    .mutate-delete {
      &:hover {
        color: var(--bs-white);
        border-color: var(--bs-danger);
        background: var(--bs-danger);
      }
    }
  }
}
