html {
  .stack-code-output{
    max-height: 10rem;
    overflow: auto;
  }

  .stack {

    .stack-output-toggle {
      color: var(--bs-success);
    }
    .stack-edit-toggle {
      color: var(--bs-primary);
    }
    .stack-code-toggle {
      color: var(--bs-gray-800);
    }

    .stack-output-toggle,
    .stack-remove,
    .stack-edit-toggle,
    .stack-code-toggle {
      opacity: 0;
    }

    &:hover{
      .stack-output-toggle,
      .stack-remove,
      .stack-edit-toggle,
      .stack-code-toggle {
        opacity: 1;
      }
    }
  }
}

