html {
  .stack-code-output{
    max-height: 10rem;
    overflow: auto;
  }

  .stack {
    .stack-title {
      font-weight: bold;
    }

    .stack-edit-toggle {
      color: var(--bs-gray);
      cursor: pointer;
      &:hover {
        color: var(--bs-primary);
      }
    }

    .stack-copy-code {
      color: var(--bs-gray);
      cursor: pointer;
      &:hover {
        color: var(--bs-info);
      }
    }

    .stack-remove {
      color: var(--bs-gray);
      &:hover {
        color: var(--bs-danger);
      }
    }

    .stack-remove,
    .stack-copy-code,
    .stack-edit-toggle{
      opacity: 0;
    }

    &:hover{
      .stack-remove,
      .stack-copy-code,
      .stack-edit-toggle {
        opacity: 1;
      }
    }

    .card-header {
      .d-flex {
        height: 1.5rem;
      }
    }
  }
}

