.navbar-light .navbar-nav .active>.nav-link {
    background: #D0E5FC;
  }
  
  /* pkgdown fixes for dark mode */
  // these could probably end up in pkgdown?
  
  .card-footer.bg-white {
    --bs-bg-opacity: 0.1;
  }
  
  .navbar a {
    text-decoration: none !important;
  }
  
  .navbar-nav .nav-item>.nav-link:hover,
  #toc>.nav a.nav-link:hover,
  #toc>.nav a.nav-link:focus {
    color: var(--bs-body-color);
    background-color: rgba(var(--bs-info-rgb), 0.45);
  }
  
  #toc>.nav a.nav-link.active {
    [data-bs-theme="dark"] {
      color: var(--bs-body-bg);
    }
    background-color: rgba(var(--bs-info-rgb), 0.75);
  }
  
  @include media-breakpoint-down(sm) {
    aside {
      background-color: var(--bs-tertiary-bg);
      border-color: var(--bs-border-color);
    }
  }
  
  /* ---- Dark Mode ---- */
  [data-bs-theme="dark"] {
    .navbar.bg-info {
      background-color: #333f48 !important;
    }
  
    ::selection {
      background: #344c5a;
    }
  
    input[type="search"] {
      border-color: var(--bs-border-color);
    }
  
    pre {
      background-color: #272b30;
    }
  
    // low-tech image softening in dark mode
    img {
      opacity: 0.66;
      transition: opacity 250ms ease-in-out;
    }
  
    img:hover,
    img:focus,
    img:active {
      opacity: 1;
    }
  
    // github-dark.css //
    pre code         /* Normal         */ {color:#e1e4e8}
    pre code span.al /* Alert          */ {color:#ff5555; font-weight: bold}
    pre code span.an /* Annotation     */ {color:#6a737d}
    pre code span.at /* Attribute      */ {color:#f97583}
    pre code span.bn /* BaseN          */ {color:#79b8ff}
    pre code span.bu /* BuiltIn        */ {color:#f97583}
    pre code span.cf /* ControlFlow    */ {color:#f97583}
    pre code span.ch /* Char           */ {color:#9ecbff}
    pre code span.cn /* Constant       */ {color:#79b8ff}
    pre code span.co /* Comment        */ {color:#6a737d}
    pre code span.cv /* CommentVar     */ {color:#6a737d}
    pre code span.do /* Documentation  */ {color:#6a737d}
    pre code span.dt /* DataType       */ {color:#f97583}
    pre code span.dv /* DecVal         */ {color:#79b8ff}
    pre code span.er /* Error          */ {color:#ff5555; text-decoration: underline}
    pre code span.ex /* Extension      */ {color:#f97583; font-weight: bold}
    pre code span.fl /* Float          */ {color:#79b8ff}
    pre code span.fu /* Function       */ {color:#b392f0}
    pre code span.im /* Import         */ {color:#9ecbff}
    pre code span.in /* Information    */ {color:#6a737d}
    pre code span.kw /* Keyword        */ {color:#f97583}
    pre code span.op /* Operator       */ {color:#e1e4e8}
    pre code span.ot /* Others         */ {color:#b392f0}
    pre code span.pp /* Preprocessor   */ {color:#f97583}
    pre code span.re /* RegionMarker   */ {color:#6a737d}
    pre code span.sc /* SpecialChar    */ {color:#79b8ff}
    pre code span.ss /* SpecialString  */ {color:#9ecbff}
    pre code span.st /* String         */ {color:#9ecbff}
    pre code span.va /* Variable       */ {color:#ffab70}
    pre code span.vs /* VerbatimString */ {color:#9ecbff}
    pre code span.wa /* Warning        */ {color:#ff5555}
  
  }
  
  /* bslib cards */
  .bslib-card{overflow:auto}.bslib-card .card-body+.card-body{padding-top:0}.bslib-card .card-body{overflow:auto}.bslib-card .card-body p{margin-top:0}.bslib-card .card-body p:last-child{margin-bottom:0}.bslib-card .card-body{max-height:var(--bslib-card-body-max-height, none)}.bslib-card[data-full-screen="true"]>.card-body{max-height:var(--bslib-card-body-max-height-full-screen, none)}.bslib-card .card-header .form-group{margin-bottom:0}.bslib-card .card-header .selectize-control{margin-bottom:0}.bslib-card .card-header .selectize-control .item{margin-right:1.15rem}.bslib-card .card-footer{margin-top:auto}.bslib-card .bslib-navs-card-title{display:flex;flex-wrap:wrap;justify-content:space-between;align-items:center}.bslib-card .bslib-navs-card-title .nav{margin-left:auto}.bslib-card .bslib-sidebar-layout:not([data-bslib-sidebar-border="true"]){border:none}.bslib-card .bslib-sidebar-layout:not([data-bslib-sidebar-border-radius="true"]){border-top-left-radius:0;border-top-right-radius:0}[data-full-screen="true"]{position:fixed;inset:3.5rem 1rem 1rem;height:auto !important;max-height:none !important;width:auto !important;z-index:1070}.bslib-full-screen-enter{display:none;position:absolute;bottom:var(--bslib-full-screen-enter-bottom, 0.2rem);right:var(--bslib-full-screen-enter-right, 0);top:var(--bslib-full-screen-enter-top);left:var(--bslib-full-screen-enter-left);color:var(--bslib-color-fg, var(--bs-card-color));background-color:var(--bslib-color-bg, var(--bs-card-bg, var(--bs-body-bg)));border:var(--bs-card-border-width) solid var(--bslib-color-fg, var(--bs-card-border-color));box-shadow:0 2px 4px rgba(0,0,0,0.15);margin:0.2rem 0.4rem;padding:0.55rem !important;font-size:.8rem;cursor:pointer;opacity:0.7;z-index:1070}.bslib-full-screen-enter:hover{opacity:1}.card[data-full-screen="false"]:hover>*>.bslib-full-screen-enter{display:block}.bslib-has-full-screen .card:hover>*>.bslib-full-screen-enter{display:none}@media (max-width: 575.98px){.bslib-full-screen-enter{display:none !important}}.bslib-full-screen-exit{position:relative;top:1.35rem;font-size:0.9rem;cursor:pointer;text-decoration:none;display:flex;float:right;margin-right:2.15rem;align-items:center;color:rgba(var(--bs-body-bg-rgb), 0.8)}.bslib-full-screen-exit:hover{color:rgba(var(--bs-body-bg-rgb), 1)}.bslib-full-screen-exit svg{margin-left:0.5rem;font-size:1.5rem}#bslib-full-screen-overlay{position:fixed;inset:0;background-color:rgba(var(--bs-body-color-rgb), 0.6);backdrop-filter:blur(2px);-webkit-backdrop-filter:blur(2px);z-index:1069;animation:bslib-full-screen-overlay-enter 400ms cubic-bezier(0.6, 0.02, 0.65, 1) forwards}@keyframes bslib-full-screen-overlay-enter{0%{opacity:0}100%{opacity:1}}
  
  /* fill css for fullscreen cards */
  .html-fill-container {
    display: flex;
    flex-direction: column;
    /* Prevent the container from expanding vertically or horizontally beyond its
       parent's constraints. */
    min-height: 0;
    min-width: 0;
  }
  .html-fill-container > .html-fill-item {
    /* Fill items can grow and shrink freely within
       available vertical space in fillable container */
    flex: 1 1 auto;
    min-height: 0;
    min-width: 0;
  }
  .html-fill-container > :not(.html-fill-item) {
    /* Prevent shrinking or growing of non-fill items */
    flex: 0 0 auto;
  }